<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotodeperfil.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Anabel Paola Soplan</p>
        <p id="titulo">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" >
        <span>
            <h1>Acerca de mí</h1>
            <p>Estoy comenzando en este mundo de la programacion web, todavia tengo mucho que aprender. Pero con entusiasmo voy a adquirir nuevos conomientos. Este portfolio es mi primer proyecto, asi que espero sea de tu agrado.</p>
        </span>
    </div>
</div>
