<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Portfolio</h1>
            <p>Fue creado para entregar en el programa Argentina Programa como evaluacion final. Me llevo bastante trabajo pero pude implementar herramientas y conocimientos que adquiri en este curso.</p>
            <p>Link del Front: https://github.com/anys07/portfolio-Front-End</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-m-1 offset-lg-1 parte2">
            <img src="../../../assets/portfolio.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>



