<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Cyber Connet</h2> - <h3>(3 años)</h3>
            </li>
            <p>Atención al cliente, manejo de caja, stock, limpieza y mantemiento de las pc´s.</p>
        </ul>

        <ul>
            <li>
                <h2>Fotocopiadora "Rosales"</h2> - <h3>(4 años)</h3>
            </li>
            <p>Atención al cliente, manejo de caja y organización del material a digitalizar. </p>
        </ul>

        <ul>
            <li>
                <h2>Fotocopiadora "Roid"</h2> - <h3>(6 años)</h3>
            </li>
            <p>Atención al cliente, puesto de encargada del local en la sucursal de la Facultad de Odontología. </p>
        </ul>
    </div>
</div>
